NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
ADMIN_EMAIL=admin@qaleb.com
NEXT_PUBLIC_WHATSAPP_NUMBER=201553138143
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
NOTIFICATION_RECEIVER_EMAIL=your-notifications-email@gmail.com
